
@footer_base("about","关于本站") {
    <div id="content_right" class="content_right" >
        <textarea id="styleBox" style="display: none">
        /* Hi~ 大家好，欢迎来到我的博客！
        这里是关于本站的简介。
        3...
        2...
        1...
        0...
        开始...
        心尖偏左Blog是一个用Scala+Play搭建的以分享知识、技术交流为目的的博客系统。
        ...
        博主心尖偏左是一个Scala语言的忠实粉丝，热爱Scala。
        ...
        额。。。好像效果不是很好，调整一下吧
        */
        #demo *{transition:1s;
        font-size:12px;
        font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;}
        #demo {
        padding:10px;background-color:#fff; transition:1s; width: 500px; height: 500px;
        border: solid 1px #ddd; margin: 30px 0 0 30px;
        overflow-y:auto;
        }
        /*
        ....
        是的
        她的作用就是处理css文本，抽离样式和注释，最后动态输出
        ......
        让这些文字更好看吧
        .
        .
        注释着色处理
        */
        .dynamicStyle-notes{
        color:#008200;
        }
        /*
        额。行跟行之间似乎不太明显，那么再加点东西吧
        here we go......
        */
        .dynamicStyle-line{
        line-height: 24px;
        }
        .dynamicStyle-line:nth-of-type(2n){
        background-color:#f4f4f4;
        }
        /*
        好了，css部分的文字样式大概调整完毕
        ...
        那么...撒花...跳个舞庆祝一下
        */
        #demo{
        -webkit-animation-name: shake-slow;
        animation-name: shake-slow;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        }
        /*
        .撒花~ *★,°*:.☆\(￣▽￣)/$:*.°★*
        . *★,°*:.☆\(￣▽￣)/$:*.°★* 撒花~
        .撒花~ *★,°*:.☆\(￣▽￣)/$:*.°★*
        .
        能看到这里也是难为您了，耽误了不少宝贵的时间。
        这个效果借鉴了博客园园友"上位者的怜悯"的博客，感谢他的支持！
        */
        </textarea>

        <div id="demo"></div>
        <style type="text/css">

        </style>

        <script>

                var demoNode = document.getElementById("demo");

                function start() {
                    $("#demo").dynamicStyle({
                        delay: 50,
                        content: $("#styleBox").val(),
                        notify: function (item) {
                            if (item.type == 2) {
                                $("#demoStyle").append(item.content);
                            }
                        },
                        contentNotify: function () {
                            demoNode.scrollTop = demoNode.scrollHeight;
                        },
                        complete: function () {
                            $("#demo").append("<p>好了，到这里所有效果都结束了，不用再等了。拜。</p>");
                            $("#demo").append("<p>-- 心尖偏左</p>");
                            demoNode.scrollTop = demoNode.scrollHeight;
                        }
                    });
                }

        </script>
        <style id="demoStyle" type="text/css"></style>

    </div>
}
