@import app.AppGlobal
@(music:Int)
<footer>
  <div id="musicPlayer"></div>

  @if(music == 1){
  <script>
          $(function () {
            $("#musicPlayer").simplemusic({
              autoplay: false,  //autoplay 自动播放
              loop:false,      //loop 循环播放
              urls: ['@routes.Assets.versioned("music/guzuo-zxy.mp3") ' ]
            });
          });
  </script>
  }

  <div class="ft-copyright">
      <p class="copyright">
          @AppGlobal.siteCopyright <br>
      <span>
          <a href="https://beian.miit.gov.cn/" target="_blank" style="padding:0 2px">@AppGlobal.beianCode</a>
          <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=@AppGlobal.siteWangBeiCode" target="_blank" style="padding:0 2px">鄂网备@{AppGlobal.siteWangBeiCode}号</a>
      </span> <br>
        <a href="@routes.HomeController.about()" style="padding:0 10px">关于本站</a>|
        <a href="@routes.HomeController.toResume()" style="padding:0 10px">个人简历</a>|
        <a style="padding:0 10px" href="@routes.HomeController.adminLogin()"  >后台管理</a>|
        <a style="padding:0 10px" href="https://github.com/xjpz/mosquito-blog" target="_blank"  >GitHub</a>|
        <a href="https://tongji.baidu.com/web/20972565/overview/sole?siteId=9091194" target="_blank" style="padding:0 10px" >站长统计</a>
        <script>
             var _hmt = _hmt || [];
                (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?30c745b839f8105d9c6c7fd195f4d0d5";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
             })();
        </script>

    </p>

      <!-- top -->
    <div id="link_top" class="link_top" style="display : none ;">Top</div>

    <script type="text/javascript">
                    $(function(){
                      showScroll();
                      function showScroll(){
                        $(window).scroll( function() {
                          var scrollValue=$(window).scrollTop();
                          scrollValue > 100 ? $('div[class=link_top]').fadeIn():$('div[class=link_top]').fadeOut();
                        } );
                        $('#link_top').click(function(){
                          $("html,body").animate({scrollTop:0},200);
                        });
                      }
                    })
                </script>
  </div>
</footer>