/*//发表部分*/


  #respond {
	  font-size: 18px;
	  color: #3e606f;

  }

h1{text-align:center;color:#fff;margin-left:-25px;font-size:35px;font-weight: bold;text-shadow: 0 1px 1px #555;}
h1 sup{
	font-size: 18px;
	font-style: normal;
	position: absolute;
	margin-left: 10px;}

#commentform p {

}

input#author, input#email, input#url, textarea#comment,textarea#new_article ,select#admin{
	margin-left: 12px;
	border: 2px solid #e3e5e4;
	padding: 2px;
	width: 200px;
	background-color: #f9f9f9;
}

textarea#comment {
	width: 500px;
	height: 160px;
}

/*#editor {*/
	/*width: 300px;*/
	/*height: 725px;*/
/*}*/

input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus {
	color: #666666;
	border: 2px solid #f1b39b;
	background-color: #ffffff;
}

label {
	margin-left: 5px;
	font-size: 12px;
}

input#submit {
	margin-left: 12px;
	background-color: #f9f9f9;
	border: 2px solid #e3e5e4;
	width: 80px;
	padding: 2px 5px;
	color: #666666;
	font-size: 12px;
}

.login_info{
	margin: 10px;
}

.reply{
	padding-left:30px;
}