/*//评论*/

/*.blogbody_read a{*/
	/*color: #000; padding: 0 5px;*/
/*}*/

/*.blogbody_read a:hover{*/
    /*color: #F60; text-decoration: underline*/
 /*}*/

.blogbody {
    line-height: 1.8;
    box-shadow: 0px 0px 8px #999;
}

.comment_body{
	padding:15px;
	margin-bottom:3px;
	border: 1px solid #97969B;
    border-top-color: rgb(151, 150, 155);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(151, 150, 155);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(151, 150, 155);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(151, 150, 155);
    border-left-style: solid;
    border-left-width: 1px;
	line-height: 2;
}

.comment_body a{
	color: #258fb8;
}

.comment_footer{
	padding-left:35px;
}

/*发表评论*/

#commentform{
    padding: 1em;
}

#commentform h2 {
	border-bottom: #db6d4c 4px solid;
}

#commentform p {
	margin-bottom: 15px;
}

.article_comment{
    font-family: Comic Sans MS;
    font-size: 1em;
}

input#author, input#email, input#url, textarea#comment,textarea#new_article ,select#admin{
	margin-left: 12px;
	border: 2px solid #e3e5e4;
	padding: 2px;
	width: 200px;
	background-color: #f9f9f9;
}

input#captcha {
	border: 2px solid #e3e5e4;
	padding: 2px;
	width: 145px;
	background-color: #f9f9f9;
}

textarea#comment {
	width: 500px;
	height: 160px;
}

textarea#new_article {
	width: 530px;
	height: 725px;
}

input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus {
	color: #666666;
	border: 2px solid #f1b39b;
	background-color: #ffffff;
}

/*//活跃用户*/
.catListTag{
	width: 100%;
}

.catListTag li {
	padding-left: 0.8em;
	padding-right: 1em;
	/*padding-bottom:8px;*/
	/*padding-top:8px;*/
	text-align: left;
	text-decoration:none;
	/*color:#000;*/
	display:block;
	/*margin-top:5px;*/
	/*margin-bottom:8px;*/
	width:auto;
	overflow:hidden;
	/*// -moz-box-shadow:5px 5px 7px rgb(33,33,33);*/
	/*//-webkit-box-shadow:5px 5px 7px rgb(33,33,1);*/
	/*box-shadow:5px 5px 7px rgb(33,33,1);*/
	/*-moz-transition: -moz-transform 0.25s;*/
	/*-o-transition:-o-transform 0.25s linear;*/
	/*-webkit-transition:-webkit-transform 0.25s linear;*/
}

.catListTag h3{
	line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px;
}

.catListTag li:hover,ul li:focus{
	-moz-box-shadow:10px 10px 7px rgb(255,255,255);
	-webkit-box-shadow:5px 5px 7px rgb(255,255,255);
	box-shadow:5px 5px 7px rgb(255,255,255);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-moz-transform:scale(1.1);
	z-index:3;
}
.scroll-list{height:240px;overflow:hidden;}
.scroll-list ul li a{
	width: 220px !important;
}
.scroll-list ul li small{
	padding-right: 10px;
	float: right;
}
.module-list ul li {
	height: 40px;
	line-height: 40px;
}
.reader-ul li{
	height: 30px !important;
	line-height: 30px !important;
}
.module-list ul li a {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 10px;
}


/*代码格式化*/

pre, .editor-style pre {
	padding: 10px 5px 10px 10px;
	margin: 15px 0;
	display: block;
	line-height: 18px;
	background: #F0F0F0;
	border-radius: 3px;
	font-size: 13px;
	font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
	white-space: pre;
	word-wrap: normal;
	overflow-x: auto;
	border: 1px solid #ccc;
}

code, .editor-style code {
	display: inline-block;
	padding: 0 4px;
	margin: 0 5px;
	background: #eeeeee;
	border-radius: 3px;
	font-size: 13px;
	font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
}

/*引用格式化*/
blockquote, .postCon blockquote {
	width: 90%;
	margin: 0 auto;
	padding: 6px 0 6px 45px;
	color: #666;
	background: white url("../images/blockquote.gif") top left no-repeat;
	border: 2px solid #efefef;
}
