/*模板部分*/

body {
	font-size:12px;
	margin:0;
}

body{
	margin:0;
	background-color:#FFFFFF;
}

div{

}

a {
	color: #258fb8;
}

a:link,a:visited{
	text-decoration:none;  /*超链接无下划线*/
}

.topbar {
	min-width: 950px;
	height: 30px;
	/*overflow: hidden;*/
	font-size: 12px;
	font-family: "宋体", serif;
	background-image: url(../images/topbar.png);

}
.ntopbar_main{
	height: 30px;
	margin: 0 auto;
	border-top: 5px solid rgb(146, 209, 61);
}

.ntopbar_floatL {
	float: left;
	position: relative;
	line-height: 25px;
	padding-left:25.5%;
}



.ntopbar_menu {
	float: right;
	margin-left: 10px;
	position: relative;
	padding-right:25.5%;
}

.link a:hover {
	background:rgba(235,235,235,0.3);
	color:#FFFFFF;
	-webkit-box-shadow:inset 0 4px 0 #92d13d,inset 0 0 3px #ebebeb;
	box-shadow:inset 0 4px 0 #92d13d,inset 0 0 3px #ebebeb;
	-webkit-transition:all 150ms ease-in-out;
	-moz-transition:all 150ms ease-in-out;
	-o-transition:all 150ms ease-in-out;
	-ms-transition:all 150ms ease-in-out;
	transition:all 150ms ease-in-out
}

.ntopbar_menu span.link {
	padding-right: 2px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}


.ntopbar_menu span {
	float: left;
}

.ntopbar_menu span.link a, .ntopbar_menu span.link a:link {
	float: left;
	text-decoration: none;
	padding: 0 16px 0 12px;
}

.nsinatopbar a, .nsinatopbar a:link, .nsinatopbar a:visited {
	color: #2e3092;
	text-decoration: none;
}

.bloga{
	clear: both;
	height:100%;
	position:relative;
}

.blogb{
	clear: both;
	width: 49%;
	z-index: 10;
	position:relative;
	background-color:#FFFFFF;
	float:left;
	margin-left:25.5%;
	margin-top:-60px;

	font-family: "Helvetica Neue","Helvetica",sans-serif;
	font-weight: normal;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}

.blogb:before {
	content:" ";
	background:url("../images/content-shadow@2x.png") 0 -542px no-repeat,url("../images/content-shadow@2x.png") right 0 no-repeat;
	position:absolute;
	top:0;
	left:-23px;
	right:-23px;
	display:block;
	height:540px;
	z-index:-1
}

.bloghead {
	clear: both;
	width: auto;
	height: 150px;
	margin: 0 auto;
	z-index: 10;
	background-color:#92D13D;

}
.bloghead a{
	font-size:48px;
	color:#FFFFFF;
}

.blog_name{
	margin-left:25.5%;
	text-shadow: 0 5px 5px #555;
	font-size: 20px;
}

.blogbody {
	float:left;
	width: 100%;

}
.new_article_form{
	width:auto;
	margin: 0 auto;
}
.blogright {
	float:left;
	width: 28%;
	text-align:center;
	margin-left:0.7em;
	background-color:#F9F9F9;

}

.weiboIframe{
	clear:both;
	margin:0;
}

.blogbody_author{
	float:left;
}

.blogbody_read {
	float:right;
}

.blogs{
	clear:both;
	padding:20px;

}

.blogs h4 {
	color:#258FB8;
}

/*//发表部分*/


  #respond {
	  font-size: 18px;
	  color: #3e606f;

  }

h1{text-align:center;color:#fff;margin-left:-25px;font-size:35px;font-weight: bold;text-shadow: 0 1px 1px #555;}
h1 sup{
	font-size: 18px;
	font-style: normal;
	position: absolute;
	margin-left: 10px;}

#commentform p {

}

input#author, input#email, input#url, textarea#comment,textarea#new_article ,select#admin{
	margin-left: 12px;
	border: 2px solid #e3e5e4;
	padding: 2px;
	width: 200px;
	background-color: #f9f9f9;
}

textarea#comment {
	width: 500px;
	height: 160px;
}

/*#editor {*/
	/*width: 300px;*/
	/*height: 725px;*/
/*}*/

input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus {
	color: #666666;
	border: 2px solid #f1b39b;
	background-color: #ffffff;
}

label {
	margin-left: 5px;
	font-size: 12px;
}

input#submit {
	margin-left: 12px;
	background-color: #f9f9f9;
	border: 2px solid #e3e5e4;
	width: 80px;
	padding: 2px 5px;
	color: #666666;
	font-size: 12px;
}

.login_info{
	margin: 10px;
}

.reply{
	padding-left:30px;
}


/*浏览排行*/
.rank h3 {
	line-height: 40px;
	color: #38485A;
	font-size: 18px;
	border-bottom: 1px solid #E6E6E6;
	height: 40px;
	margin-bottom: 20px;
}

.rank ul, ol {
	list-style: none;
	margin: 0.3em;
	text-align: left;
	padding-left: 0.2em;
	font: 12px/1.5 Tahoma, Arial, Helvetica, sans-serif;
}

.rank li {
	padding: 0.2em;
	list-style-type: none;
	list-style-image: none;
}

.rank a:link, a:visited {
	text-decoration: none;
}

/*页脚*/
.ft-copyright {
	clear : both ;
	width : auto ;
	font-family : 'Courgette', cursive ;
	text-align : center ;
	font-size : 13px ;
/ / top : 70px ;
	top : 110px ;
	position : relative ;

}
.ft-copyright a{
	color: black;
}

/*站内搜索*/

.bdcs-container .bdcs-main, .bdcs-container .bdcs-main * {
	box-sizing:content-box;
	margin:0;
	padding:0;
	float:none;
	clear:none;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	border:0;
	background:none;
	width:auto;
	height:auto;
	max-width:none;
	min-width:none;
	max-height:none;
	min-height:none;
	border-radius:0;
	box-shadow:none;
	transition:none;
	text-align:left;
}

.bdcs-container .bdcs-clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.bdcs-container .bdcs-clearfix {
	zoom: 1;
}

.bdcs-container .bdcs-main {
	overflow: visible;
}
.bdcs-container .bdcs-search {
	display: block;
	overflow: visible;
	position: relative;
	border-style: solid;
}

.bdcs-container .bdcs-search-form-input-wrap {
	display: inline-block;
}

/*输入框自定义样式*/
.bdcs-container .bdcs-search-form-input {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	vertical-align: top;
	text-indent: 5px;
	float: left;

	border-color:#a6a6a6;
	margin-right:5px;
	margin-top:1px;
	width:200px;
	height:20px;
	line-height:20px;
	font-family:Arial,SimSun,sans-serif;
	color:#000000;
	font-size:12px;
	border-radius:0px;
	background-color:#FFFFFF;
}
.bdcs-container .bdcs-search-form-input:focus {
	border-width: 1px;
	border-style: solid;
	outline: none;
}
.bdcs-container .bdcs-search-form-submit-wrap {
	display: inline-block;
}

/*按钮样式自定义*/
.bdcs-container .bdcs-search-form-submit {
	display: inline-block;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	vertical-align: top;
	text-align: center;
	width: 40px;
	/*IE67 submit width fix*/
	/*width: 1;
    *overflow: visible;
    /*fix IE6 submit height but width still bug*/
//_overflow: hidden;

	border-color:#e6e6e6;
	height:20px;
	background-color:#f5f5f5;
	color:#000000;
	font-family:Arial,SimSun,sans-serif;
	font-size:12px;
	border-radius:0px;
	*height:28px;
	*margin-top:1px;
	line-height:20px;
	margin-top: 1px;
}