body{
    margin:0;
    background-color:#FFFFFF;
    word-wrap:break-word
}

.blogright ul {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #258fb8;
}

a{word-wrap: break-word;}

img{ width: 100%; height: auto;max-width: 100%; display: block; }

a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}

.topbar {
    min-width: 950px;
    height: 30px;
    /*overflow: hidden;*/
    font-size: 12px;
    font-family: "宋体";
    background-image: url(../images/topbar.png);

}
.ntopbar_main{
    height: 30px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-top: 5px solid #92d13d;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(146, 209, 61);
}

.ntopbar_floatL {
    float: left;
    position: relative;
    line-height: 25px;
    margin-left:25.5%;
}

.ntopbar_menu {
    float: right;
    margin-left: 10px;
    position: relative;
    margin-right:25.5%;
}

.link a:hover {
    background:rgba(235,235,235,0.3);
    color:#FFFFFF;
    -webkit-box-shadow:inset 0 4px 0 #92d13d,inset 0 0 3px #ebebeb;
    box-shadow:inset 0 4px 0 #92d13d,inset 0 0 3px #ebebeb;
    -webkit-transition:all 150ms ease-in-out;
    -moz-transition:all 150ms ease-in-out;
    -o-transition:all 150ms ease-in-out;
    -ms-transition:all 150ms ease-in-out;
    transition:all 150ms ease-in-out
}

.ntopbar_menu span.link {
    padding-right: 2px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}


.ntopbar_menu span {
    float: left;
}

.ntopbar_menu span.link a, .ntopbar_menu span.link a:link {
    float: left;
    text-decoration: none;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom:0;
    padding-left: 8px;
}

.nsinatopbar a, .nsinatopbar a:link, .nsinatopbar a:visited {
    color: #2e3092;
    text-decoration: none;
}

.bloga{
    clear: both;
    height:100%;
    position:relative;
}

.blogb{
    clear: both;
    width: 49%;
    z-index: 10;
    position:relative;
    background-color:#FFFFFF;
    float:left;
    margin-left:25.5%;
    margin-top:-60px;

    font-family: "Helvetica Neue","Helvetica",sans-serif;
    font-weight: normal;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

.blogb:before {
    content:" ";
    background:url("../images/content-shadow@2x.png") 0 -542px no-repeat,url("../images/content-shadow@2x.png") right 0 no-repeat;
    position:absolute;
    top:0;
    left:-23px;
    right:-23px;
    display:block;
    height:540px;
    z-index:-1
}

.bloghead {
    clear: both;
    width: auto;
    height: 150px;
    margin: 0 auto;
    z-index: 10;
    background-color:#92D13D;
    /*background: url("http://xjpz.me/resource/6bd5fda00292f6c2fee72056d3f7fa10.png");*/

}
.bloghead a{
    font-size:48px;
    color:#FFFFFF;
}

.blog_name{
    margin-left:26%;
    text-shadow: 0 5px 5px #555;
    font-size: 20px;
}

.blogbody {
    float:left;
    width: 71.5%;
    line-height: 1.8;
}

.blogright {
    float:left;
    width: 28%;
    text-align:center;
    background-color:#F9F9F9;
    margin-left: 0.4%;
}

.weiboIframe{
    clear:both;
    margin:0;
}

.blogbody_author{
    float:left;
}

.blogbody_read {
    float:right;
}

.blogbody_read a{
    font-size: 12px;
}

.blogs{
    clear:both;
    padding:1em;

}
div#blogs {
    line-height: 1.8em;
}

.blogs h4 {
    color:#258FB8;
}

/*//活跃用户*/
.catListTag{
    width: 100%;
}

.catListTag li {
    padding-left: 0.8em;
    padding-right: 1em;
    /*padding-bottom:8px;*/
    /*padding-top:8px;*/
    text-align: left;
    text-decoration:none;
    /*color:#000;*/
    display:block;
    /*margin-top:5px;*/
    /*margin-bottom:8px;*/
    width:auto;
    overflow:hidden;
    /*// -moz-box-shadow:5px 5px 7px rgb(33,33,33);*/
    /*//-webkit-box-shadow:5px 5px 7px rgb(33,33,1);*/
    /*box-shadow:5px 5px 7px rgb(33,33,1);*/
    /*-moz-transition: -moz-transform 0.25s;*/
    /*-o-transition:-o-transform 0.25s linear;*/
    /*-webkit-transition:-webkit-transform 0.25s linear;*/
}

.catListTag h3{
    line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px;
}

.catListTag li:hover,ul li:focus{
    -moz-box-shadow:10px 10px 7px rgb(255,255,255);
    -webkit-box-shadow:5px 5px 7px rgb(255,255,255);
    box-shadow:5px 5px 7px rgb(255,255,255);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
    z-index:3;
}
.scroll-list{height:240px;overflow:hidden;}
.scroll-list ul li a{
    width: 220px !important;
}
.scroll-list ul li small{
    padding-right: 10px;
    float: right;
}
.module-list ul li {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}
.reader-ul li{
    height: 30px !important;
    line-height: 30px !important;
}
.module-list ul li a {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
}

/*活跃用户end*/

/*标签云*/
.cloud { width: 100%; clear: both; overflow: hidden; }
.cloud h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.cloud ul { margin: 20px 0; }
.cloud ul li { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 5px 5px 0 5px; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF; }
.cloud ul li:nth-child(8n-7) { background: #8A9B0F; }
.cloud ul li:nth-child(8n-6) { background: #EB6841; }
.cloud ul li:nth-child(8n-5) { background: #3FB8AF;}
.cloud ul li:nth-child(8n-4) { background: #FE4365; }
.cloud ul li:nth-child(8n-3) { background: #FC9D9A; }
.cloud ul li:nth-child(8n-2) { background: #EDC951; }
.cloud ul li:nth-child(8n-1) { background: #C8C8A9; }
.cloud ul li:nth-child(8n) { background: #83AF9B; }
.cloud ul li:first-child { background: #036564; }
.cloud ul li:last-child { background: #3299BB; }
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px; }
.cloud ul li a {
    color: #FFF;
}

a {
    outline: none;
}

/*友情链接*/
.links { width: 100%; overflow: hidden; clear: both }
.links h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 20px; }
.links h3 span { float: right; font-size: 12px; }
.links h3 span a { color: #999; padding: 0 5px; }
.links h3 span a:hover { color: #F60; text-decoration: underline; }
.links ul { background: #f9f9f9; padding: 10px; overflow: hidden; border: #e9e9e9 1px solid ;list-style:none;}
.links ul li { float: left; padding: 5px 8px; font-size: 13px;}
.links ul li a:hover { color: #000; }

#link_top {
    position : fixed ;
    bottom : 60px ;
    right : 80px ;
    z-index : 20 ;
    font-weight : bold ;
    color : #df5c38 ;
    cursor : pointer ;
}
/*浏览排行*/
.rank h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
    margin-bottom: 20px;
}

.blogright .rank ul {
    list-style: none;
    margin: 0.3em;
    text-align: left;
    padding-left: 0.2em;
    font: 12px/1.5 Tahoma, Arial, Helvetica, sans-serif;
}

.rank li {
    padding: 0.2em;
    list-style-type: none;
    list-style-image: none;
}

.rank a:link, a:visited {
    text-decoration: none;
}



/*分页效果*/
.pagelink{
    color: #666666;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}
#pagination{ float:right; margin:10px 0; }
#pagination-flickr li { border:0; margin:0; padding:0; font-size:11px; list-style:none; /* savers */ float:left; }
#pagination-flickr a { border:solid 1px #DDDDDD; margin-right:2px; }
#pagination-flickr .previous-off,#pagination-flickr .next-off { color:#666666; display:block; float:left; font-weight:bold;}
#pagination-flickr .next a,#pagination-flickr .previous-off a,#pagination-flickr .previous a { font-weight:bold; border:solid 1px #FFFFFF;  }
#pagination-flickr .active { color:#ff0084; font-weight:bold; display:block; float:left; padding:4px 6px; }
#pagination-flickr a:link,
#pagination-flickr a:visited { color:#0063e3; display:block; float:left; padding:3px 6px; text-decoration:none; }
#pagination-flickr a:hover { border:solid 1px #000; background:#0063DC; color:#FFF; }

/*页脚*/
.ft-copyright {
    clear : both ;
    width : auto ;

    font-family : 'Courgette', cursive ;
    text-align : center ;
    font-size : 13px ;
    top : 110px ;
    position : relative ;

}
.ft-copyright a{
    color: black;
}

/*站内搜索*/
.bdcs-container .bdcs-main, .bdcs-container .bdcs-main * {
    box-sizing:content-box;
    margin:0;
    padding:0;
    float:none;
    clear:none;
    overflow:hidden;
    white-space:nowrap;
    word-wrap:normal;
    border:0;
    background:none;
    width:auto;
    height:auto;
    max-width:none;
    max-height:none;
    border-radius:0;
    box-shadow:none;
    transition:none;
    text-align:left;
}

.bdcs-container .bdcs-clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.bdcs-container .bdcs-clearfix {
    zoom: 1;
}

.bdcs-container .bdcs-main {
    overflow: visible;
}
.bdcs-container .bdcs-search {
    display: block;
    overflow: visible;
    position: relative;
    border-style: solid;
}

.bdcs-container .bdcs-search-form-input-wrap {
    display: inline-block;
}

/*输入框自定义样式*/
.bdcs-container .bdcs-search-form-input {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
    text-indent: 5px;
    float: left;

    border-color:#a6a6a6;
    margin-right:5px;
    margin-top:1px;
    width:200px;
    height:20px;
    line-height:20px;
    font-family:Arial,SimSun,sans-serif;
    color:#000000;
    font-size:12px;
    border-radius:0;
    background-color:#FFFFFF;
}
.bdcs-container .bdcs-search-form-input:focus {
    border-width: 1px;
    border-style: solid;
    outline: none;
}
.bdcs-container .bdcs-search-form-submit-wrap {
    display: inline-block;
}

/*按钮样式自定义*/
.bdcs-container .bdcs-search-form-submit {
    display: inline-block;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    text-align: center;
    width: 40px;


    border-color:#e6e6e6;
    height:20px;
    background-color:#f5f5f5;
    color:#000000;
    font-family:Arial,SimSun,sans-serif;
    font-size:12px;
    border-radius:0;
    *height:28px;
    *margin-top:1px;
    line-height:20px;
    margin-top: 1px;
}
