body {
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif,"ו";
    margin: 0px;
    padding: 0px;
}

.input {
    width: 40%;
    border: 0px;
    line-height: 30px;
    outline: none;
    font-size: x-large;
    color: #2196F3;
    border-bottom: 2px solid #2196F3;
    overflow-x: visible;
    overflow-y: visible;
    background-color: transparent;
}

.bg {
 //   background-image: url(../../R/Image/background.png);
    background-repeat: repeat;
}

.logo {
    margin-left: 40px;
    margin-top: 40px;
    height: 35px;
}

.share {
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}



    .share img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        cursor: pointer;
    }

.download {
    border:2px solid #2196F3; padding:10px 40px;   font-size:large; font-weight:bold; color:#2196F3; -moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;
    border-radius:50px; cursor:pointer; background-color: transparent; //   background-image: url(../../R/Image/background.png);
    background-repeat: repeat; 
}

.danmu_qr {
    display:none; height:160px; background-color: transparent;  //  background-image: url(../../R/Image/background.png);
    background-repeat: repeat;
}

.share_wechat_show {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 200;
    display: none;
}

.foot {
    width: 100%;
    color: #999999;
    position: absolute;
    bottom: 15px;
    font-size: small;
    text-align: center;
}