
h1{text-align:center;
	color:#fff;
	margin-left:-25px;
	font-size:35px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #555;}
	
h1 sup{
    font-size: 18px;
    font-style: normal;
    position: absolute;
    margin-left: 10px;
}
	
.comment_body{
	padding:15px;
	margin-bottom:3px;
	border: 1px solid #97969B;
    border-top-color: rgb(151, 150, 155);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(151, 150, 155);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(151, 150, 155);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(151, 150, 155);
    border-left-style: solid;
    border-left-width: 1px;
	line-height: 2;
}

input#captcha {
    border: 2px solid #e3e5e4;
    padding: 2px;
    width: 145px;
    background-color: #f9f9f9;
}


.comment_body a{
	color: #258fb8;
}

.comment_footer{
	padding-left:35px;
}

.catListTag li:hover,ul li:focus{
	-moz-box-shadow:10px 10px 7px rgb(0,0,0);
	-webkit-box-shadow:5px 5px 7px rgb(0,0,0);
	box-shadow:5px 5px 7px rgb(0,0,0);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-moz-transform:scale(1.1);
	z-index:3;
}
#sidebar_toptags li{text-indent:2em;}

/*发表留言*/

#commentform h2 {
    border-bottom: #db6d4c 4px solid;
}

#commentform p {
    margin-bottom: 15px;
}

input#author, input#email, input#url, textarea#comment,textarea#new_article ,select#admin{
    margin-left: 12px;
    border: 2px solid #e3e5e4;
    padding: 2px;
    width: 200px;
    background-color: #f9f9f9;
}

textarea#comment {
    width: 500px;
    height: 160px;
}

textarea#new_article {
    width: 530px;
    height: 725px;
}

input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus {
    color: #666666;
    border: 2px solid #f1b39b;
    background-color: #ffffff;
}
