@import app.AppGlobal
@(uid: Long,uname:String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发表文章 - @AppGlobal.siteName</title>
    <meta name="keywords" content="@AppGlobal.siteKeyword" />
    <meta name="description" content="@AppGlobal.siteDescription" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

      <!--音乐播放器 -->
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
      <!-- simditor 富文本编辑器 -->

    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/module.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/hotkeys.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/uploader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/simditor.js")"></script>

      <!--  simditor-markdown  -->
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/marked.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/to-markdown.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("simditor/scripts/simditor-markdown.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("simditor/styles/simditor-markdown.css")" media="screen" charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("simditor/styles/simditor.css")" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/base.css")" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/article_new.css")" >
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />

      <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" />

      <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript">

            $(function(){
              toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
                'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
                'link', 'image', 'hr', '|', 'indent', 'outdent','markdown' ];
              var editor = new Simditor( {
                textarea : $('#editor'),
                placeholder : '这里输入内容...',
                toolbar : toolbar,  //工具栏
                defaultImage : '@routes.Assets.versioned("simditor/images/image.png")', //编辑器插入图片时使用的默认图片
                upload : {
                  url : '@routes.ResourceController.upload()', //文件上传的接口地址
                  params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                  fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
                  connectionCount: 3,
                  leaveConfirm: '正在上传文件'
                }
              });
            })

    </script>
    <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?30c745b839f8105d9c6c7fd195f4d0d5";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
    </script>

    <script type="text/javascript" >
    //文章内容校验
    function check_content(){
      var content = $("#editor").val();
      if(content == ""){
        $('#u').focus();
        return;
      }

      $.ajax({
        headers : {
          'Accept' : 'application/json',
          'Content-Type' : 'application/json'
        },
        url : '@routes.ArticleController.checkContent()',
        type : 'PATCH',
        data : JSON.stringify({"content":content}),
        success : function(response) {
          if(response.success == true){
            $.post(
                    "@routes.ArticleController.create()",
                    $("#pushForm").serialize(),
                    function(data) {
                      // 发布成功
                      location.href = "/";
                    }
            );
          }else{
            console.log("Oops");
            alert(response.msg);
          }
        },
        error: function (data){
          alert("操作失败")
        }
      });
    }

</script>

  </head>

  <body>

    @blog.blog_topbar(uid, uname)

    <!-- blog -->
  <div class="bloga" id="bloga">
      <!-- bloghead -->
    @blog.blog_head()

    <div class="blogb" id="blogb">
        <!-- blogbody -->
      @blog.blog_article_new()

    </div>

  </div>

    @footer.index_footer(2)

  </body>

</html>



