@import controllers.UploadCtrl
@(fileList:List[String])
<!DOCTYPE html>
<html>
    <head>
        <title>upload</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    @for(item <- fileList) {
        <li><a href="@UploadCtrl.download(item)" >@item</a></li>
    }
    </body>
</html>