@import java.text.SimpleDateFormat
<div class="blogright" id="blogright">

  <div class="catListTag">
    <h3 class="catListTitle">活跃用户</h3>
    <div class="module-list scroll-list">
      <ul>
      @if(controllers.Service.queryActiveUser().isDefined && controllers.Service.queryActiveUser().get.users.isDefined){
        @for(userIter <- controllers.Service.queryActiveUser().get.users.get){
          <li ><a id="CatList_LinkList_0_Link_0" href="@routes.Application.queryWithUid(userIter.uid.get,Option(1))" target="_blank" >@userIter.name</a><small>@(new SimpleDateFormat("yyyy-MM-dd").format(userIter.inittime.get* 1000L))</small> <div style="border-bottom : 1px dashed #000000 ; margin-top : 10px ;"></div></li>
        }
      }
      </ul>
    </div>
  </div>
  <div class="cloud">
    <h3>标签云</h3>
    <ul>
    @if(controllers.Service.queryCatalog.isDefined && controllers.Service.queryCatalog.get.catalogs.isDefined) {
      @for(catalogIter <- controllers.Service.queryCatalog.get.catalogs.get) {
        <li><a href="/blog/catalog?word=@catalogIter" target="_blank">@catalogIter</a></li>
      }
    }

    </ul>
  </div>

  <div class="links">
    <h3>友情链接</h3>
    <ul>
    @if(controllers.Service.queryLink.isDefined && controllers.Service.queryLink().get.links.isDefined){
      @for(linkIter <- controllers.Service.queryLink.get.links.get){
        <li><a id="CatList_LinkList_0_Link_0" target="_blank" href="@linkIter.content">@linkIter.name</a> </li>
      }
    }

    </ul>
  </div>

  <div class="rank">
    <h3>推荐排行</h3>
    @if(Service.queryArticleAction("smile",Option(0),Option(5)).articles.isDefined) {
      @defining(Service.queryArticleAction("smile",Option(0),Option(5)).articles.get){ articleList=>
        <ul>
          @for(i <- articleList.indices) {
            <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).smile.getOrElse(0)) </a></li>
          }
        </ul>
      }
    }
  </div>

  <div class="rank">
    <h3>阅读排行</h3>
    @if(Service.queryArticleAction("read",Option(0),Option(5)).articles.isDefined) {
      @defining(Service.queryArticleAction("read",Option(0),Option(5)).articles.get){ articleList=>
        <ul>
          @for(i <- articleList.indices) {
            <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).read.getOrElse(0)) </a></li>
          }
        </ul>
      }
    }
  </div>

  <div class="rank">
    <h3>评论排行</h3>
    @if(Service.queryArticleAction("reply",Option(0),Option(5)).articles.isDefined) {
      @defining(Service.queryArticleAction("reply",Option(0),Option(5)).articles.get){ articleList=>
        <ul>
          @for(i <- articleList.indices) {
            <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).reply.getOrElse(0)) </a></li>
          }
        </ul>
      }
    }
  </div>

</div>