<!DOCTYPE html>
<html lang="en">
<head>
    <title>To My Love</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/dynamicStyle.css")" >
    <script src="@routes.Assets.versioned("/javascripts/jquery.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/dynamicStyle.js")"></script>

</head>
<body onload="start()">

    <div id="content" class="content" >
        <textarea id="styleBox" style="display: none">
        /* 亲爱的~ 晚上好，
        ....
        这是我特意为你做的一个网页，希望你能开心
        ...
        请不要关闭，精彩即将开始，
        ...
        3...
        2...
        1...
        0...
        当你打开这个网页时...
        ...
        我已经想你很久了...
        ...
        我知道你在生我的气，是我不好
        ...
        你就原谅我呗，我希望你开心，我爱你😘😘😘
        ...
        快笑一个 ^>^
        ...
        额。。。好像看起来效果不是很好，调整一下吧
        */
        #demo *{transition:1s;
        font-size:12px;
        font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;}
        #demo {
        padding:10px;background-color:#fff; transition:1s; width: 500px; height: 500px;
        border: solid 1px #ddd; margin: 30px 0 0 30px;
        overflow-y:auto;
        }
        /*
        ....
        精彩继续...
        ......
        让这些文字更好看吧
        .
        .
        注释着色处理
        */
        .dynamicStyle-notes{
        color:#008200;
        }
        /*
        额。行跟行之间似乎不太明显，那么再加点东西吧
        here we go......
        */
        .dynamicStyle-line{
        line-height: 24px;
        }
        .dynamicStyle-line:nth-of-type(2n){
        background-color:#f4f4f4;
        }
        /*
        好了，大概调整完毕
        ...
        那么...撒花...跳个舞庆祝一下
        */
        #demo{
        -webkit-animation-name: shake-slow;
        animation-name: shake-slow;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        }
        /*
        .撒花~ *★,°*:.☆\(￣▽￣)/$:*.°★*
        . *★,°*:.☆\(￣▽￣)/$:*.°★* 撒花~
        .撒花~ *★,°*:.☆\(￣▽￣)/$:*.°★*
        .
        😘
        😘
        😘
        I
        ❤
        U
        😙
        😙
        😙
        */
        </textarea>



        <div id="demo"></div>
        <style type="text/css">

        </style>

        <script>

                var demoNode = document.getElementById("demo");

                function start() {
                    $("#demo").dynamicStyle({
                        delay: 50,
                        content: $("#styleBox").val(),
                        notify: function (item) {
                            if (item.type == 2) {
                                $("#demoStyle").append(item.content);
                            }
                        },
                        contentNotify: function () {
                            demoNode.scrollTop = demoNode.scrollHeight;
                        },
                        complete: function () {
                            $("#demo").append("<p>好了，到这里所有效果都结束了，不用再等了。爱你。</p>");
                            $("#demo").append("<p>-- 爱你的心尖偏左</p>");
                            demoNode.scrollTop = demoNode.scrollHeight;
                        }
                    });
                }

        </script>
        <style id="demoStyle" type="text/css"></style>

    </div>
</body>
</html>