<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改密码 - @AppGlobal.siteName</title>
    <meta name="keywords" content="@AppGlobal.siteKeyword" />
    <meta name="description" content="@AppGlobal.siteDescription" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")" >
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />

    <link rel="stylesheet" href="/assets/stylesheets/base.css" />
    <link rel="stylesheet" href="/assets/stylesheets/login.css" >
    <link rel="shortcut icon" href="/assets/images/favicon.png" />

      <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" />

      <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?30c745b839f8105d9c6c7fd195f4d0d5";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
    </script>

  </head>

  <body>
      <!-- ntopbar -->
    @blog.blog_topbar(0L,"")

      <!-- blog -->
    <div class="bloga" id="bloga">
      @blog.blog_head()
      <div class="blogb" id="blogb">

        <div class="blogbody" id="blogbody">
          <h2 style="text-align: center;">修改密码</h2>

          <div class="login" style="margin-top:50px;">
            <div class="web_qr_login" id="web_qr_login" style="display: block; height: 360px;">

                <!--修改密码-->
              <div class="web_login" id="web_login">

                <div class="login-box">
                  <form name="form2" id="regUser" accept-charset="utf-8"  action="/blog/reset/password" method="post">
                    <input type="hidden" name="to" value="reg"/>
                    <input type="hidden" name="did" value="0"/>
                    <ul class="reg_form" id="reg-ul">
                      <div id="userCue" style="color:red;" class="cue">请输入验证码！</div>
                      <li>

                        <label for="user" class="input-tips2">用户名：</label>
                        <div class="inputOuter2">
                          <input type="text" id="user" name="name" maxlength="16" class="inputstyle2" required/>
                        </div>

                      </li>

                      <li>
                        <label for="qq" class="input-tips2">邮箱：</label>
                        <div class="inputOuter2">

                          <input type="email" id="email" name="email" maxlength="20" class="inputstyle2" required/>
                        </div>

                      </li>


                      <li>
                        <label for="passwd" class="input-tips2">密码：</label>
                        <div class="inputOuter2">
                          <input type="password" id="passwd" name="password" minlength="6" maxlength="16" autocomplete="off" data-val="true" data-val-required="密码不能为空" class="inputstyle2"/>
                        </div>

                      </li>

                      <li>
                        <label for="captcha" class="input-tips2">验证码：</label>
                        <div class="inputOuter2">
                          <input type="text" id="captcha" name="captcha" maxlength="6" class="inputstyle2" autocomplete="off" required="required" />
                          <img id="captchaImage" class="captchaImage" src="/blog/captcha" onclick="javascript:refresh(this)">
                        </div>

                      </li>

                      <li>
                        <div class="inputArea">
                          <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;width : 135px ;" class="button_blue" value="密码重置"/> <a href="/blog/login"  class="zcxy" >登录>></a>
                        </div>

                      </li><div class="cl"></div>
                    </ul>
                  </form>

                </div>
                  <!--修改密码-->
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    @footer.index_footer(2)
  </body>

</html>

<script type="text/javascript">
        function refresh(obj){
          obj.src="/blog/captcha?id="+Math.random();
        }
</script>@import app.AppGlobal