@(implicit req: RequestHeader)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>密码验证 - 后台管理</title>

      <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />
    <style>
    body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    }
    .login_title{
    text-align:center;
    }

    .but_submit{
    text-align:center;
    }
    </style>
    <script>
        function enterSubmit(eveent) {
            if (event.keyCode == 13) {
                document.getElementById("btn_submit").focus();
                return false;
            }
        }
        function check() {
            if (document.getElementById("uname").value.length == 0 ) {
                alert("请输入您的用户名！");
                return false;
            }
            if (document.getElementById("password").value.length == 0 ) {
                alert("请输入您的密码！");
                return false;
            }
            if (document.getElementById("code").value.length == 0 ) {
                alert("请输入口令！");
                return false;
            }

            return true;
        }
    </script>
  </head>
  <body>
    <form method="post" action="@helper.CSRF(routes.Application.checkAdminForm)" onsubmit="return check()">
      <div style="margin-top:50px">
        <div style="width:300px;margin:0 auto;">
          <div class="login_title"><h2>请登录！</h2> </div><br>
          <div>用户:<input type="text" id="uname" name="uname" style="width:200px" onkeydown="EnterSubmit(event);"/></div><br>
          <div>密码:<input type="password" id="password" name="password" autocomplete="off" data-val="true" data-val-required="密码不能为空" style="width:200px" onkeydown="EnterSubmit(event);"/></div><br>
          <div>口令:<input type="password" id="code" name="code" autocomplete="off" style="width:200px" onkeydown="EnterSubmit(event);"/></div><br>
          <div class="but_submit"><input type="submit" id="btn_submit" value="确定" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="btn_button" value="取消" onclick="window.history.back()"/></div>
        </div>
      </div>
    </form>
  </body>
</html>