
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>密码验证 - 心尖偏左个人简历</title>

      <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />
    <style>
    body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    }
    </style>
    <script>
        function enterSubmit(eveent) {
            if (event.keyCode == 13) {
                document.getElementById("btn_submit").focus();
                return false;
            }
        }
        function check() {
            if (document.getElementById("password").value.length == 0) {
                alert("请输入您的密码！");
                return false;
            }
            return true;
        }
    </script>
  </head>
  <body>
    <form method="post" action="@routes.Application.checkResumeForm" onsubmit="return check()">
      <div style="margin-top:50px">
        <div style="width:300px;margin:0 auto;">
          <div>请输入阅读密码: </div>
          <div><input type="password" id="password" name="password" autocomplete="off" data-val="true" data-val-required="密码不能为空" style="width:200px" onkeydown="EnterSubmit(event);"/></div>
          <div><input type="submit" id="btn_submit" value="确定"/></div>
        </div>
      </div>
    </form>
  </body>
</html>