@(implicit req: RequestHeader)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>修改密码 - 心尖偏左</title>
        <meta name="keywords" content="心尖偏左,xjpz,心尖偏左博客,xjpzblog,心尖偏左Blog,心尖依然偏左,scala+play,Scala满足了我对编程语言的所有幻想." />
        <meta name="description" content="心尖偏左Blog是一个用Scala+Play搭建的以分享知识、技术交流为目的的博客系统。博主心尖偏左是一个Scala语言的忠实粉丝，热爱Scala。" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/login.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")" >
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />

        <style type="text/css">
        /*页脚*/
        .ft-copyright {
        clear : both ;
        width : auto ;

        font-family : 'Courgette', cursive ;
        text-align : center ;
        font-size : 13px ;
        top : 110px ;
        position : relative ;

        }
        .ft-copyright a{
        color: black;
        }

        </style>
    </head>

    <body>


        <h1>修改密码<sup>beta</sup></h1>

        <div class="login" style="margin-top:50px;">
            <div class="web_qr_login" id="web_qr_login" style="display: block; height: 360px;">

                    <!--登录-->
                <div class="web_login" id="web_login">

                    <div class="login-box">
                        <form name="form2" id="regUser" accept-charset="utf-8"  action="@helper.CSRF(routes.Application.updatePasswordForm())" method="post">
                            <input type="hidden" name="to" value="reg"/>
                            <input type="hidden" name="did" value="0"/>
                            <ul class="reg_form" id="reg-ul">
                                <div id="userCue" style="color:red;" class="cue">请输入验证码！</div>
                                <li>

                                    <label for="user" class="input-tips2">用户名：</label>
                                    <div class="inputOuter2">
                                        <input type="text" id="user" name="name" maxlength="16" class="inputstyle2" required/>
                                    </div>

                                </li>

                                <li>
                                    <label for="qq" class="input-tips2">邮箱：</label>
                                    <div class="inputOuter2">

                                        <input type="email" id="email" name="email" maxlength="20" class="inputstyle2" required/>
                                    </div>

                                </li>


                                <li>
                                    <label for="passwd" class="input-tips2">密码：</label>
                                    <div class="inputOuter2">
                                        <input type="password" id="passwd" name="password" minlength="6" maxlength="16" autocomplete="off" data-val="true" data-val-required="密码不能为空" class="inputstyle2"/>
                                    </div>

                                </li>

                                <li>
                                    <label for="captcha" class="input-tips2">验证码：</label>
                                    <div class="inputOuter2">
                                        <input type="text" id="captcha" name="captcha" maxlength="6" class="inputstyle2" autocomplete="off" required="required" />
                                        <img id="captchaImage" class="captchaImage" src="/captcha/new" onclick="javascript:refresh(this)">
                                    </div>

                                </li>

                                <li>
                                    <div class="inputArea">
                                        <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;width : 135px ;" class="button_blue" value="密码重置"/> <a href="/blog/to/login"  class="zcxy" >登录>></a>
                                    </div>

                                </li><div class="cl"></div>
                            </ul>
                        </form>

                    </div>
                        <!--登录end-->
                </div>
            </div>
        </div>
        @index_footer(2)
    </body>

</html>
<script type="text/javascript">
	function disp_alert(){
        alert("协议还没有起草。但，最终解释权归本站所有。")
    }
    function refresh(obj){
        obj.src="/captcha/new?id="+Math.random();
    }
</script>