@(uid: Long,loginUID:Long, page: Int)
@import java.text.SimpleDateFormat
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@(controllers.Service.getUname(uid))文章列表 - 心尖偏左</title>
        <meta name="keywords" content="心尖偏左Blog,@(controllers.Service.getUname(uid))" />
        <meta name="description" content="@(controllers.Service.getUname(uid)) - 心尖偏左Blog是一个用Scala+Play搭建的以分享知识、技术交流为目的的博客系统。博主心尖偏左是一个Scala语言的忠实粉丝，热爱Scala。" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.simplemusic.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")" >
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" />

            <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" />

            <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style type="text/css">
        .article_editor{
            float: right;
            font-size: 12px;
        }
        .article_title{
            float:left;
        }
        .article_head{
            margin-bottom: 1em;;
        }
        </style>

    </head>

    <body>
            <!-- ntopbar -->
        <div class="topbar" id="topbar">
            <div class="ntopbar_main">
                <div class="ntopbar_floatL">
                    <div><script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=17542041042688205263' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
                    </div>
                </div>

                <div class="ntopbar_menu">
                    <div class="dropdown">

                        @if(uid == 0){
                            <span class="link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <a href="/">注册/登录</a>|
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/blog/to/login">注册</a></li>
                                <li><a href="/blog/to/login">登录</a></li>
                                <li><a href="/blog/to/reset/password">修改密码</a></li>
                            </ul>
                        }else{
                            <span class="link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <a href="/">@controllers.Service.getUname(uid).getOrElse("")</a>|
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @*<li><a href="/blog/to/login">个人资料修改</a></li>*@
                                <li><a href="/blog/to/reset/password">修改密码</a></li>
                                <li><a href="@routes.Application.logOut()">退出</a></li>
                            </ul>
                        }
                        @*<span class="link" ><a href="@routes.Application.user()">个人中心</a>|</span>*@
                        @*<span class="link" ><a href="@routes.Application.archives()">归档</a>|</span>*@
                    <span class="link" ><a href="@routes.Application.toNewArticle()">发博客</a>|</span>
                    <span class="link" ><a href="@routes.Application.toMessage()">留言</a></span>
                    </div>
                </div>
            </div>
        </div>


            <!-- blog -->
        <div class="bloga" id="bloga">
            <div class="bloghead" id="bloghead">
                <br>
                <div class="blog_name" id="blog_name">
                    <a href="/">@(controllers.Service.getUname(uid))</a>
                    <span>@Service.findUserDescrp(uid).getOrElse("")</span>
                </div>
            </div>
            <div class="blogb" id="blogb">

                <div class="blogbody" id="blogbody">
                        <!-- 博客-->
                    @if(Service.articleUIDList(uid,page).articles.isDefined && Service.articleUIDList(uid,page).articles.get.nonEmpty) {
                        @for(item <- Service.articleUIDList(uid,page).articles.get) {
                            <div id="blogs" class="blogs">
                                <div class="article_head" id="article_head">
                                    <div class="article_title" id="article_title"><b><a href="@routes.Application.toArticle(item.aid.getOrElse(0))">@(new SimpleDateFormat("yyyy-MM-dd").format(item.inittime.get * 1000L)) &nbsp;&nbsp;&nbsp;&nbsp; @item.title</a></b></div>
                                    <div class="article_editor" id="article_editor">@if(uid == loginUID){ <a href="javascript:" onclick="isdelete(@item.aid.getOrElse(0),'@item.title.getOrElse("")')">删除</a>&nbsp;|&nbsp;<a href="@routes.Application.toUpdateArticle(item.aid.getOrElse(0))">编辑</a> }</div>
                                </div>
                                <br>
                                @(item.content.getOrElse("None")) <br> <br>
                                <div id="blogbody_author" class="blogbody_author">posted @@ @(new SimpleDateFormat("yyyy-MM-dd HH:mm").format(item.inittime.get * 1000L)) &nbsp;&nbsp; @(controllers.Service.getUname(item.uid.get))</div>
                                <div id="blogbody_read" class="blogbody_read">
                                    <a href="@routes.Application.toArticle(item.aid.getOrElse(1))">评论(@item.reply)</a> &nbsp;|&nbsp;
                                    <a href="javascript:" onclick="smile_numfun(@item.aid.getOrElse(0))">赞(<span id="smile_num@item.aid.getOrElse(1)">@item.smile</span>)</a> &nbsp;|&nbsp;
                                    <a href="@routes.Application.toArticle(item.aid.getOrElse(1))">阅读(@item.read)</a></div>
                            </div>

                            <br>
                            <div style="border-bottom : 1px dashed #000000 ; margin-top : 10px ;"></div>
                        }
                    }else{
                        <div style="text-align: center;margin-top: 30%;color: #cfcfcf">此用户比较懒，什么也没有。</div>
                    }

                </div>

                <div class="blogright" id="blogright">
                    @if(uid != 0L) {
                            <!-- 自定义部分-->
                        @if(controllers.Service.findCustom(uid).isDefined && controllers.Service.findCustom(uid).get.right.isDefined){
                            @Html(controllers.Service.findCustom(uid).get.right.get)
                        }
                    }

                    <div class="catListTag">
                        <h3 class="catListTitle">活跃用户</h3>
                        <div class="module-list scroll-list">
                            <ul>
                            @if(controllers.Service.queryActiveUser().isDefined && controllers.Service.queryActiveUser().get.users.isDefined){
                                @for(userIter <- controllers.Service.queryActiveUser().get.users.get){
                                    <li ><a id="CatList_LinkList_0_Link_0" href="@routes.Application.queryWithUid(userIter.uid.get,Option(1))">@userIter.name</a><small>@(new SimpleDateFormat("YYYY-MM-dd").format(userIter.inittime.get* 1000L))</small> <div style="border-bottom : 1px dashed #000000 ; margin-top : 10px ;"></div></li>
                                }
                            }
                            </ul>
                        </div>
                    </div>
                    <div class="cloud">
                        <h3>标签云</h3>
                        <ul>
                        @if(controllers.Service.queryCatalog.isDefined && controllers.Service.queryCatalog.get.catalogs.isDefined) {
                            @for(catalogIter <- controllers.Service.queryCatalog.get.catalogs.get) {
                                <li><a href="@(routes.Application.toCatalogArticle(catalogIter))">@catalogIter</a></li>
                            }
                        }
                        </ul>
                    </div>

                <div class="links">
                    <h3>友情链接</h3>
                    <ul>
                    @if(controllers.Service.queryLink.isDefined && controllers.Service.queryLink().get.links.isDefined){
                        @for(linkIter <- controllers.Service.queryLink.get.links.get){
                            <li><a id="CatList_LinkList_0_Link_0" target="_blank" href="@linkIter.content">@linkIter.name</a> </li>
                        }
                    }
                    </ul>
                </div>

                <div class="rank">
                    <h3>推荐排行</h3>
                    @if(Service.queryArticleAction("smile",Option(0),Option(5)).articles.isDefined) {
                        @defining(Service.queryArticleAction("smile",Option(0),Option(5)).articles.get){ articleList=>
                            <ul>
                                @for(i <- 0 until articleList.length) {
                                    <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).smile.getOrElse(0)) </a></li>
                                }
                            </ul>
                        }
                    }
                </div>

                <div class="rank">
                    <h3>阅读排行</h3>
                    @if(Service.queryArticleAction("read",Option(0),Option(5)).articles.isDefined) {
                        @defining(Service.queryArticleAction("read",Option(0),Option(5)).articles.get){ articleList=>
                            <ul>
                                @for(i <- 0 until articleList.length) {
                                    <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).read.getOrElse(0)) </a></li>
                                }
                            </ul>
                        }
                    }
                </div>

                <div class="rank">
                    <h3>评论排行</h3>
                    @if(Service.queryArticleAction("reply",Option(0),Option(5)).articles.isDefined) {
                        @defining(Service.queryArticleAction("reply",Option(0),Option(5)).articles.get){ articleList=>
                            <ul>
                                @for(i <- 0 until articleList.length) {
                                    <li><a href="@routes.Application.toArticle(articleList(i).aid.getOrElse(0))" target="_blank">@(i+1) . @articleList(i).title.getOrElse("") (@articleList(i).reply.getOrElse(0)) </a></li>
                                }
                            </ul>
                        }
                    }
                </div>

                </div>
            </div>
        </div>
        <footer>
            <div id="musicPlayer"></div>

            <script>
				$(function () {
					$("#musicPlayer").simplemusic({
						autoplay: false,
						loop:true,
						urls: ["http://blog.xjpz9999.com/music/gz.mp3","http://blog.xjpz9999.com/music/sxcs.mp3" ]
					});
				});
			</script>
            <div class="ft-copyright">
                <p class="copyright">Copyright &copy;2015 心尖偏左  <span><a href="http://www.miitbeian.gov.cn/">
                    鄂ICP备15016359号-1</a><br>
                </span>
                    <a href="@routes.Application.about()">关于我们</a>&nbsp; | &nbsp;<a href="@routes.Application.contactus()">联系我们</a>&nbsp; | &nbsp;<a href="@routes.Application.toResume()">个人简历</a>&nbsp; | &nbsp;<a href="@routes.Application.toAdmin()">后台管理</a>&nbsp; | &nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256391631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256391631' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>

                    <!-- top -->
                <div id="link_top" class="link_top" style="display : none ;">Top</div>

                <script type="text/javascript">
                    $(function(){
                        showScroll();
                        function showScroll(){
                            $(window).scroll( function() {
                                var scrollValue=$(window).scrollTop();
                                scrollValue > 100 ? $('div[class=link_top]').fadeIn():$('div[class=link_top]').fadeOut();
                            } );
                            $('#link_top').click(function(){
                                $("html,body").animate({scrollTop:0},200);
                            });
                        }
                    })
                </script>
            </div>

        </footer>
    </body>

</html>

    <script type="text/javascript" language="javascript">
        //异步刷新点赞数
        function smile_numfun(aid){
            //为了保证体验（速度），不判断是否执行成功，直接+1
            var num = document.getElementById("smile_num"+aid).innerText;
		    document.getElementById("smile_num"+aid).innerHTML = parseInt(num)+1;
            $.ajax({
                 type: "GET",
                 url: "/blog/smile/"+aid,
                 data: {},
                 success: function(data){
                                //执行成功。。。
                 }
             });
	}
        //删除
       function isdelete(aid,name){
		  var r = window.confirm("确定要删除【"+name+"】吗?");
          if(r){
             window.location.href="/blog/delete/article/"+aid;
          }
	   }

/*活跃用户滚动*/
$(function () {
    var settime;
    $(".scroll-list").hover(function () {
        clearInterval(settime);
    }, function () {
        settime = setInterval(function () {
            var $first = $(".scroll-list ul:first");     //选取div下的第一个ul 而不是li；
            var height = $first.find("li:first").height();      //获取第一个li的高度，为ul向上移动做准备；
            $first.animate({ "marginTop": -height + "px" }, 2000, function () {
                $first.css({ marginTop: 0 }).find("li:first").appendTo($first); //设置上边距为零，为了下一次移动做准备
            });
        }, 2000);
    }).trigger("mouseleave");       //trigger()方法的作用是触发被选元素的制定事件类型
});
	</script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["mshare","qzone","tsina","weixin","tieba","sqq","mail","copy","print"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"right","bdTop":"128"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
